/* ==========================================================================
    Layout & global components
   ========================================================================== */

/* ==============================
    Grid
   ============================== */
@include setupGrid();
@include makeGrid(3);
@include makeGrid(4);
  
  
/* ==============================
    Global
   ============================== */
.container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 2.5%;
    width: 95%;
    @include teq-breakpoint($large) {
        padding: 0;
        width: 100%;
    }
}

