// ==========================================================================
//  Global variables
// ==========================================================================

// Colours
$fg:            #444;
$bg:            #fff;

// Font-stack shortcuts
$georgia:      Georgia, serif;
$helv-light:   "helv-light", sans-serif;
$font-100:     "Roboto Slab", serif;
$font-300:     "Roboto Slab", serif;
$font-700:     "Roboto Slab", serif;

// Grid
$widthGutter:   4;